header.navbar .site-name
  font-size: 0.8rem
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif
  font-weight: 600
  letter-spacing: 0.1em
  text-transform: uppercase
  color: #000

.navbar .nav-item a.nav-link
  color: rgba(0,0,0,.5)
  opacity: 1
  outline: 0
  background-color: transparent
  font-size: 0.875rem
  padding: 0.4rem

header.navbar .nav-item
  margin-left: 2rem

.navbar .nav-item a.nav-link
  font-weight: 500

.links .nav-item > a:not(.external):hover
  margin-bottom: 0
  border-bottom: 0
  border-radius: 5px

.links .nav-item > a:not(.external).router-link-active
  margin-bottom: 0
  border-bottom: 0
  padding: 0.4rem 0.6rem
  border-radius: 5px
  @media (min-width: 719px)
    margin-bottom: 0
    border-bottom: 0


body
  background: #f9f9fb
  background: #fff
  font-family: avenir next, avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif

svg.icon.outbound
  display: none

a
  font-weight: 600



/* colors */
.navbar .links .nav-item a.nav-link:not(.router-link-active)
  color: #808080

.t1k .page a,
.t1k .sidebar a,
.t1k .nav-links a:hover,
.t1k .nav-links a.router-link-active,
.t1k .navbar .links .nav-item a.nav-link:hover,
.t1k div.links div.nav-item > a:hover,
.t1k .links .nav-item > a:not(.external).router-link-active,
.t1k .sidebar a.active.sidebar-link,
.t1k .links .nav-item a.router-link-active
  color: #33a52c

.wide span.arrow.right, .wide span.arrow.down,
.content span.arrow.right, .content span.arrow.down
  display: none

.wide .links .nav-item > a:not(.external).router-link-active,
.content .links .nav-item > a:not(.external).router-link-active
  background: #e3fce6
  font-weight: 600
  border-color: transparent


.content .sidebar > .sidebar-links > li:not(:first-child),
.wide .sidebar > .sidebar-links > li:not(:first-child)
  margin-top: 0

.content .sidebar-heading,
.wide .sidebar-heading,
.wide .sidebar > ul.sidebar-links > li > a.sidebar-link,
.content .sidebar > ul.sidebar-links > li > a.sidebar-link
  font-size: 1rem

.wide .sidebar-group.is-sub-group > .sidebar-heading,
.content .sidebar-group.is-sub-group > .sidebar-heading,
.wide .sidebar .depth-0 > ul.sidebar-links > li > a.sidebar-link,
.content .sidebar .depth-0 > ul.sidebar-links > li > a.sidebar-link
  font-size: 1em

.wide .sidebar-heading,
.wide .sidebar-heading.open,
.wide .sidebar > ul.sidebar-links > li > a:not(.active).sidebar-link,
.content .sidebar-heading,
.content .sidebar-heading.open,
.content .sidebar > ul.sidebar-links > li > a:not(.active).sidebar-link
.t1k .sidebar-heading.clickable
  font-weight: normal
  color: #222

.wide .sidebar-heading:hover,
.wide .sidebar-heading.open:hover,
.wide .sidebar > ul.sidebar-links > li > a:not(.active).sidebar-link:hover,
.content .sidebar-heading:hover,
.content .sidebar-heading.open:hover,
.content .sidebar > ul.sidebar-links > li > a:not(.active).sidebar-link:hover
  font-weight: normal
  color: #888

.wide .page-nav .inner,
.content .page-nav .inner
  border-top: 1px solid #f2f2f2

.t1k .sidebar > .sidebar-links > li > a.sidebar-link,
.t1k .sidebar-heading.clickable.active
  border-left-color: #fff
  color: #33a52c
  font-weight: 600

.entdes .sidebar > .sidebar-links > li > a.sidebar-link
  font-weight: 600

.content .depth-1 .sidebar-heading, .depth-1 .sidebar-heading,
.wide .depth-1 .sidebar-heading, .depth-1  .sidebar-heading
  color: #888

.wide .sidebar-sub-headers a.sidebar-link,
.content .sidebar-sub-headers a.sidebar-link
  font-size: 0.9rem
  line-height: 1.3em
  margin-bottom: 0.4rem

.wide .sidebar .sidebar-sub-headers,
.content .sidebar .sidebar-sub-headers
  margin-top: 0.3rem

.prev a, .next a
  font-size: 1.2rem

.wide .content__default ul,
.content .content__default ul,
.content__default ul,
.content__default ol
  padding-left: 2.8rem

.wide p,
.wide a,
.wide ul,
.wide h2,
.content p,
.content a,
.content ul,
.content h2
  position: relative

.entdes .page a,
.entdes .sidebar a,
.entdes .nav-links a:hover,
.entdes .nav-links a.router-link-active,
.entdes .navbar .links .nav-item a.nav-link:hover,
.entdes div.links div.nav-item > a:hover,
.entdes .links .nav-item > a:not(.external).router-link-active,
.entdes .sidebar a.active.sidebar-link,
.entdes .links .nav-item a.router-link-active
  color: #2c69a5

.entdes .links .nav-item > a:not(.external).router-link-active
  background: #e3f8fc
  font-weight: 600

.year5 .page a,
.year5 .nav-links a:hover,
.year5 .nav-links a.router-link-active,
.year5 .navbar .links .nav-item a.nav-link:hover,
.year5 div.links div.nav-item > a:hover,
.year5 .links .nav-item > a:not(.external).router-link-active,
.year5 .sidebar a.active.sidebar-link,
.year5 .sidebar .nav-links .nav-item a.router-link-active,
.year5 .links .nav-item a.router-link-active
  color: #5e2ca5

.year5 .links .nav-item > a:not(.external).router-link-active
  background: #F6E3FC
  font-weight: 600
  border-color: transparent

.year5 .sidebar-group:not(.collapsable) .sidebar-heading:not(.clickable)
  display: none

.sidebar
  @media (max-width: 720px)
    width: 100%;


ul.sidebar-links li a.sidebar-link.active
  border-left-color: transparent

.wide .sidebar-group.is-sub-group > .sidebar-group-items > li > a.sidebar-link,
.sidebar-group.is-sub-group > .sidebar-group-items > li > a.sidebar-link
  font-size: 0.95rem

ul.sidebar-links li a.sidebar-link:not(.active), .sidebar-group.is-sub-group > .sidebar-group-items > li > a.sidebar-link:not(.active)
  color: #808080

ul.sidebar-links li a.sidebar-link:not(.active):hover,
.sidebar-group.is-sub-group.depth-1 > .sidebar-heading.clickable:hover,
.sidebar-group.is-sub-group > .sidebar-group-items > li > a.sidebar-link:not(.active):hover
  color: #bbbbbb

.year5 ul.sidebar-links li a.sidebar-link
  font-size: 0.95rem

.year5 .sidebar-group.is-sub-group > .sidebar-group-items > li > a.sidebar-link
  font-size: 0.95rem

.super-light-gray
  background: #fcfcfd

.super-super-light-gray
  background: #f7fbfd


.wide .sidebar,.content .sidebar
  @media screen and (min-width: 720px)
    top: 10%;

.archive h2
  color: transparent
  font-size: 0.4rem

.h1
  font-family: avenir
  font-weight: bold

.content.theme-container .theme-default-content
  width: 100%
  margin-right: auto
  margin-left: auto
  max-width: 45rem
  font-size: 1.1rem
