header.navbar .site-name
  font-size: 0.8rem
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif
  font-weight: 600
  letter-spacing: 0.1em
  text-transform: uppercase
  color: #999

header.navbar .site-name::before
  content: "Post-Industrial "
  color: #000;

.navbar .nav-item a.nav-link
  color: rgba(0,0,0,.5)
  opacity: 1
  outline: 0
  background-color: transparent
  font-size: 0.875rem
  padding: 0.4rem

header.navbar .nav-item
  margin-left: 2rem

.navbar .nav-item a.nav-link
  font-weight: 500

.links .nav-item > a:not(.external):hover
  margin-bottom: 0
  border-bottom: 0
  border-radius: 5px

.links .nav-item > a:not(.external).router-link-active
  margin-bottom: 0
  border-bottom: 0
  padding: 0.4rem 0.6rem
  border-radius: 5px
  @media (min-width: 719px)
    margin-bottom: 0
    border-bottom: 0

.homepage header.navbar .site-name
  display: none

.entrepreneurialdesign li
  margin-left: 1rem
  padding-left: 0.5rem

body
  background: #f9f9fb
  background: #fff
  font-family: avenir next, avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif

svg.icon.outbound
  display: none

a
  font-weight: 600

a.header-anchor
  display: none


/* colors */
.navbar .links .nav-item a.nav-link:not(.router-link-active)
  color: #808080

.teachthe1k .page a,
.teachthe1k .nav-links a:hover,
.teachthe1k .nav-links a.router-link-active,
.teachthe1k .navbar .links .nav-item a.nav-link:hover,
.teachthe1k div.links div.nav-item > a:hover,
.teachthe1k .links .nav-item > a:not(.external).router-link-active,
.teachthe1k .sidebar a.active.sidebar-link,
.teachthe1k .links .nav-item a.router-link-active,
.workshop .page a,
.workshop .nav-links a:hover,
.workshop .nav-links a.router-link-active,
.workshop .navbar .links .nav-item a.nav-link:hover,
.workshop div.links div.nav-item > a:hover,
.workshop .links .nav-item > a:not(.external).router-link-active
.workshop .sidebar a.active.sidebar-link,
.workshop .links .nav-item a.router-link-active
  color: #33a52c

.teachthe1k span.arrow.right, .teachthe1k span.arrow.down,
.workshop span.arrow.right, .workshop span.arrow.down
  display: none

.teachthe1k .links .nav-item > a:not(.external).router-link-active,
.workshop .links .nav-item > a:not(.external).router-link-active
  background: #e3fce6
  font-weight: 600
  border-color: transparent

.entrepreneurialdesign .page a,
.entrepreneurialdesign .nav-links a:hover,
.entrepreneurialdesign .nav-links a.router-link-active,
.entrepreneurialdesign .navbar .links .nav-item a.nav-link:hover,
.entrepreneurialdesign div.links div.nav-item > a:hover,
.entrepreneurialdesign .links .nav-item > a:hover,
.entrepreneurialdesign .links .nav-item > a:not(.external).router-link-active
  color: #2c69a5

.entrepreneurialdesign .links .nav-item > a:not(.external).router-link-active
  background: #e3f8fc
  font-weight: 600

.year5 .page a,
.year5 .nav-links a:hover,
.year5 .nav-links a.router-link-active,
.year5 .navbar .links .nav-item a.nav-link:hover,
.year5 div.links div.nav-item > a:hover,
.year5 .links .nav-item > a:not(.external).router-link-active,
.year5 .sidebar a.active.sidebar-link,
.year5 .sidebar .nav-links .nav-item a.router-link-active,
.year5 .links .nav-item a.router-link-active
  color: #5e2ca5

.year5 .links .nav-item > a:not(.external).router-link-active
  background: #F6E3FC
  font-weight: 600
  border-color: transparent

.sidebar
  @media (max-width: 720px)
    width: 100%;


.sidebar-heading
  display: none


ul.sidebar-links li a.sidebar-link.active
  border-left-color: transparent

.sidebar-group.is-sub-group > .sidebar-group-items > li > a.sidebar-link
  font-size: 0.95rem

ul.sidebar-links li a.sidebar-link:not(.active), .sidebar-group.is-sub-group > .sidebar-group-items > li > a.sidebar-link:not(.active)
  color: #808080

.year5 ul.sidebar-links li a.sidebar-link
  font-size: 0.95rem

.year5 .sidebar-group.is-sub-group > .sidebar-group-items > li > a.sidebar-link
  font-size: 0.95rem

.super-light-gray
  background: #fcfcfd

.super-super-light-gray
  background: #f7fbfd


.teachthe1k .sidebar,.workshop .sidebar
  @media screen and (min-width: 720px)
    top: 10%;

.workshop.theme-container .theme-default-content
  width: 100%
  margin-right: auto
  margin-left: auto
  max-width: 39em
  font-size: 1.1rem
