$accentColor = #5e2ca5
$borderColor = #fff
$textColor = #373137

// layout
$navbarHeight = 3.25rem
$sidebarWidth = 15rem
$contentWidth = 1200px

// responsive breakpoints
$MQNarrow = 980px
$MQMobile = 719px
$MQMobileNarrow = 419px
