$accentColor = #357edd
$borderColor = #e9e9e3
$textColor = #333333

// layout
$navbarHeight = 3.25rem
$sidebarWidth = 10rem
$contentWidth = 1440px

// responsive breakpoints
$MQNarrow = 980px
$MQMobile = 719px
$MQMobileNarrow = 419px
